# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\OneDrive - lehre.mosbach.dhbw.de\Dokumente\DHBW\Klausueren\Semester 4\Compilerbau\Prüfungsaufgabe\stocks-webservice\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
